# fragmento sobre multi_v7_defconfig: o que importa para a ABI do wl
CONFIG_ARCH_BCM=y
CONFIG_ARCH_BCM_5301X=y
CONFIG_SMP=y
CONFIG_PCI=y
CONFIG_PCIE_IPROC=y
CONFIG_PCIE_IPROC_BCMA=y
CONFIG_BCMA=y
CONFIG_BCMA_HOST_SOC=y
CONFIG_BCMA_DRIVER_PCI=y
CONFIG_BCM47XX_NVRAM=y
CONFIG_NET=y
CONFIG_NETFILTER=y
CONFIG_NF_CONNTRACK=m
CONFIG_NET_SCHED=y
CONFIG_NET_CLS_ACT=y
CONFIG_RPS=y
CONFIG_XPS=y
CONFIG_IPV6=y
CONFIG_WIRELESS=y
CONFIG_CFG80211=m
# CONFIG_NETWORK_SECMARK is not set
# CONFIG_KCOV is not set
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_INFO_BTF is not set
CONFIG_MODULES=y
